/* ADD REAL PHOTO LATER */

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: darkolivegreen;
    font-family: "Lato", sans-serif;
}

.box{
    margin-top: 50px;
    vertical-align: center;
    background: rgb(0, 0, 0, 0.4);
    text-align: center;
    width: 400px;
    padding: 50px;
}
.box-img{
    width: 200px;
    height: 200px;
}

.box h1{
    font-size: 40px;
    font-weight: 100;
}

.box h5{
    font-size: 20px;
    font-weight: 80;
}

ul{
    margin: 0;
    padding: 0;
}

.box li{
    display: inline-block;
    margin: 5px;
    list-style: none;
    padding: 10px;
}

.box li a{
    color: darkolivegreen;
    font-size: 50px;
}

.box li a:hover{
    color: black;
}

