/* ADD REAL PHOTO LATER */

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: darkolivegreen;
    font-family: "Lato", sans-serif;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
}
img {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
}

