:root {
  --colorScheme: rgb(179, 245, 245);
}

body {
  padding: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--colorScheme);
  font-family: "Lato", sans-serif;
}

.info {
  border-radius: 20px;
  vertical-align: center;
  background: rgb(0, 0, 0, 0.3);
  text-align: center;
  width: 400px;
  padding: 50px;
}
.info-img {
  width: 200px;
  border-radius: 50%;
}
.info p {
  font-size: 18px;
  font-weight: 100;
  text-align: left;
}
ul {
  margin: 0;
  padding: 0;
}
.info li {
  display: inline-block;
  margin: 5px;
  list-style: none;
  padding: 10px;
}
.info li a {
  color: var(--colorScheme);
  font-size: 50px;
}
.info li a:hover {
  color: black;
  transition: ease-in-out 700ms;
}

#funFacts-container {
  margin-left: 38px;
  width: 200px;
  height: fit-content;
}
#funFacts {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

#newFactButton {
  background-color: var(--colorScheme);
  color: black;
  border-radius: 10px;
  border: 2px solid black;
  transition: ease-in-out 500ms;
  cursor: pointer;
}
#newFactButton:hover {
  background-color: var(--colorScheme);
}
